@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

.login,
.image {
    min-height: 100vh;
}

.bg-image {
    background-image: url(/images/chefaboutpage.png);
    background-size: cover;
    background-position: center center;
}