@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using MastersClass_MVC.Models
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="row" style="text-align:center; margin:50px;">
        <div class="row">
            <div class="col-sm-4">
                <img class="card-img-top" src="/images/eatalian.jpg" alt="Card image cap">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Italian Food</h5>
                        <p class="card-text">Italy is home to world-famous dishes, especially pasta and pizza. Click now to join our course.</p>
                        <a class="btn btn-primary" href="/Italian/Index">Buon Appetito</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <img class="card-img-top" src="/images/turkish.jpg" alt="Card image cap">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Turkish Food</h5>
                        <p class="card-text">Turkey has thousands of special dishes with its very old history. Click now to join our course.</p>
                        <a  class="btn btn-primary" href="/Turkish/Index">Afiyet Olsun</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <img class="card-img-top" src="/images/fareast.jpg" alt="Card image cap">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Far East Food</h5>
                        <p class="card-text">You can try flavors that you are not accustomed to with Far Eastern dishes. Click now to join our course.</p>
                        <a  class="btn btn-primary" href="/FarEast/Index">ボナペティ</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>