@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link type="text/css" rel="stylesheet" href="/css/aboutpage.css">
</head>
<body>
    <div class="about-section">
        <div class="inner-container">
            <h1>Hakkımızda</h1>
            <p class="text">
                You can benefit from free lessons given by the most famous chefs on our site. You can browse your progress rate from your profile and open new courses according to your progress. This site was made by me within the scope of Ege University Computer Engineering Web Based Windows Programming course.
            </p>
            <div class="skills">
                <span>Italian Food</span>
                <span>Turkish Food</span>
                <span>Far East Food</span>
            </div>
        </div>
    </div>
</body>
</html>